=============== LOG =================
#####################################
#     WARNING CONFIGLET             #
#####################################

Output for WARNING CVP CONFIGLET validate_mode=stop_on_error:
    {{ STOP_ON_ERROR_WARNING_CONFIG_CVP }}
Assertion Output:
    {{ VALIDATE_CONFIG_WARNING_CVP_ASSERT_ERROR }}
------
Output for WARNING LOCAL CONFIGLET validate_mode=stop_on_error:
    {{ STOP_ON_ERROR_WARNING_CONFIG_LOCAL }}
Assertion Output:
    {{ VALIDATE_CONFIG_WARNING_LOCAL_ASSERT_ERROR }}
------
Output for WARNING CVP CONFIGLET validate_mode=stop_on_warning:
    {{ STOP_ON_WARNING_WARNING_CONFIG_CVP }}
Assertion Output:
    {{ VALIDATE_CONFIG_WARNING_CVP_ASSERT_WARNING }}
------
Output for WARNING LOCAL CONFIGLET validate_mode=stop_on_warning:
    {{ STOP_ON_WARNING_WARNING_CONFIG_LOCAL }}
Assertion Output:
    {{ VALIDATE_CONFIG_WARNING_LOCAL_ASSERT_WARNING }}
------
Output for WARNING CVP CONFIGLET validate_mode=ignore:
    {{ IGNORE_WARNING_CONFIG_CVP }}
Assertion Output:
    {{ VALIDATE_CONFIG_WARNING_CVP_ASSERT_IGNORE }}
------
Output for WARNING LOCAL CONFIGLET validate_mode=ignore:
    {{ IGNORE_WARNING_CONFIG_LOCAL }}
Assertion Output:
    {{ VALIDATE_CONFIG_WARNING_LOCAL_ASSERT_IGNORE }}

#####################################
#         ERROR CONFIGLET           #
#####################################

Output for ERROR CVP CONFIGLET validate_mode=stop_on_error:
    {{ STOP_ON_ERROR_ERROR_CONFIG_CVP }}
Assertion Output:
    {{ VALIDATE_CONFIG_ERROR_CVP_ASSERT_ERROR }}
------
Output for ERROR LOCAL CONFIGLET validate_mode=stop_on_error:
    {{ STOP_ON_ERROR_ERROR_CONFIG_LOCAL }}
Assertion Output:
    {{ VALIDATE_CONFIG_ERROR_LOCAL_ASSERT_ERROR }}
------
Output for ERROR CVP CONFIGLET validate_mode=stop_on_warning:
    {{ STOP_ON_WARNING_ERROR_CONFIG_CVP }}
Assertion Output:
    {{ VALIDATE_CONFIG_ERROR_CVP_ASSERT_WARNING }}
------
Output for ERROR LOCAL CONFIGLET validate_mode=stop_on_warning:
    {{ STOP_ON_WARNING_ERROR_CONFIG_LOCAL }}
Assertion Output:
    {{ VALIDATE_CONFIG_ERROR_LOCAL_ASSERT_WARNING }}
------
Output for ERROR CVP CONFIGLET validate_mode=ignore:
    {{ IGNORE_ERROR_CONFIG_CVP }}
Assertion Output:
    {{ VALIDATE_CONFIG_ERROR_CVP_ASSERT_IGNORE }}
------
Output for ERROR LOCAL CONFIGLET validate_mode=ignore:
    {{ IGNORE_ERROR_CONFIG_LOCAL }}
Assertion Output:
    {{ VALIDATE_CONFIG_ERROR_LOCAL_ASSERT_IGNORE }}

#####################################
#         VALID CONFIGLET           #
#####################################

Output for VALID CVP CONFIGLET validate_mode=stop_on_error:
    {{ STOP_ON_ERROR_VALID_CONFIG_CVP }}
Assertion Output:
    {{ VALIDATE_CONFIG_VALID_CVP_ASSERT_ERROR }}
------
Output for VALID LOCAL CONFIGLET validate_mode=stop_on_error:
    {{ STOP_ON_ERROR_VALID_CONFIG_LOCAL }}
Assertion Output:
    {{ VALIDATE_CONFIG_VALID_LOCAL_ASSERT_ERROR }}
------
Output for VALID CVP CONFIGLET validate_mode=stop_on_warning:
    {{ STOP_ON_WARNING_VALID_CONFIG_CVP }}
Assertion Output:
    {{ VALIDATE_CONFIG_VALID_CVP_ASSERT_WARNING }}
------
Output for VALID LOCAL CONFIGLET validate_mode=stop_on_warning:
    {{ STOP_ON_WARNING_VALID_CONFIG_LOCAL }}
Assertion Output:
    {{ VALIDATE_CONFIG_VALID_LOCAL_ASSERT_WARNING }}
------
Output for VALID CVP CONFIGLET validate_mode=ignore:
    {{ IGNORE_VALID_CONFIG_CVP }}
Assertion Output:
    {{ VALIDATE_CONFIG_VALID_CVP_ASSERT_IGNORE }}
------
Output for VALID LOCAL CONFIGLET validate_mode=ignore:
    {{ IGNORE_VALID_CONFIG_LOCAL }}
Assertion Output:
    {{ VALIDATE_CONFIG_VALID_LOCAL_ASSERT_IGNORE }}

#####################################
#         MULTILINE CONFIGLET        #
#####################################

Output for MULTILINE CVP CONFIGLET validate_mode=stop_on_error:
    {{ STOP_ON_ERROR_MULTILINE_CONFIG_CVP }}
Assertion Output:
    {{ VALIDATE_CONFIG_MULTILINE_CVP_ASSERT_ERROR }}
------
Output for MULTILINE LOCAL CONFIGLET validate_mode=stop_on_error:
    {{ STOP_ON_ERROR_MULTILINE_CONFIG_LOCAL }}
Assertion Output:
    {{ VALIDATE_CONFIG_MULTILINE_LOCAL_ASSERT_ERROR }}
------
Output for MULTILINE CVP CONFIGLET validate_mode=stop_on_warning:
    {{ STOP_ON_WARNING_MULTILINE_CONFIG_CVP }}
Assertion Output:
    {{ VALIDATE_CONFIG_MULTILINE_CVP_ASSERT_WARNING }}
------
Output for MULTILINE LOCAL CONFIGLET validate_mode=stop_on_warning:
    {{ STOP_ON_WARNING_MULTILINE_CONFIG_LOCAL }}
Assertion Output:
    {{ VALIDATE_CONFIG_MULTILINE_LOCAL_ASSERT_WARNING }}
------
Output for MULTILINE CVP CONFIGLET validate_mode=ignore:
    {{ IGNORE_MULTILINE_CONFIG_CVP }}
Assertion Output:
    {{ VALIDATE_CONFIG_MULTILINE_CVP_ASSERT_IGNORE }}
------
Output for MULTILINE LOCAL CONFIGLET validate_mode=ignore:
    {{ IGNORE_MULTILINE_CONFIG_LOCAL }}
Assertion Output:
    {{ VALIDATE_CONFIG_MULTILINE_LOCAL_ASSERT_IGNORE }}

#####################################
#         MULTIPLE CONFIGLET        #
#####################################

Output for MULTIPLE CVP CONFIGLET validate_mode=stop_on_error:
    {{ STOP_ON_ERROR_MULTIPLE_CONFIG_CVP }}
Assertion Output:
    {{ VALIDATE_CONFIG_MULTIPLE_CVP_ASSERT_ERROR }}
------
Output for MULTIPLE LOCAL CONFIGLET validate_mode=stop_on_error:
    {{ STOP_ON_ERROR_MULTIPLE_CONFIG_LOCAL }}
Assertion Output:
    {{ VALIDATE_CONFIG_MULTIPLE_LOCAL_ASSERT_ERROR }}
------
Output for MULTIPLE CVP CONFIGLET validate_mode=stop_on_warning:
    {{ STOP_ON_WARNING_MULTIPLE_CONFIG_CVP }}
Assertion Output:
    {{ VALIDATE_CONFIG_MULTIPLE_CVP_ASSERT_WARNING }}
------
Output for MULTIPLE LOCAL CONFIGLET validate_mode=stop_on_warning:
    {{ STOP_ON_WARNINIG_MULTIPLE_CONFIG_LOCAL }}
Assertion Output:
    {{ VALIDATE_CONFIG_MULTIPLE_LOCAL_ASSERT_WARNING }}
------
Output for MULTIPLE CVP CONFIGLET validate_mode=ignore:
    {{ IGNORE_MULTIPLE_CONFIG_CVP }}
Assertion Output:
    {{ VALIDATE_CONFIG_MULTIPLE_CVP_ASSERT_IGNORE }}
------
Output for MULTIPLE LOCAL CONFIGLET validate_mode=ignore:
    {{ IGNORE_MULTIPLE_CONFIG_LOCAL }}
Assertion Output:
    {{ VALIDATE_CONFIG_MULTIPLE_LOCAL_ASSERT_IGNORE }}
