ansible>=2.9,<2.11
ansible-lint
check-manifest
docker>=4.4.1
galaxy-importer>=0.3.1
httmock
pycodestyle
flake8
pylint>=2.4.4
twine
molecule>=3.0.8
pre-commit>=2.3.0
yamllint>=1.18.0
mitogen
pytest-cov>=2.11.1
pytest-html>=3.1.1
pytest-metadata>=1.11.0
pytest
