{#
 Copyright (c) 2023 Arista Networks, Inc.
 Use of this source code is governed by the Apache License 2.0
 that can be found in the LICENSE file.
#}
---
CVP_CONFIGLET:
{% for configlet in shared_configlets %}
  {{configlet}}: "{{shared_configlets[configlet]['config'] | replace('\n', '\\n')}}"
{% endfor %}
