name: Ansible Molecule
on:
  pull_request:
    paths:
      - 'ansible_collections/arista/cvp/roles/**/*'
      - 'ansible_collections/arista/cvp/plugins/**/*'
      - 'ansible_collections/arista/cvp/molecules/**/*'
      - 'requirements.txt'
      - '.github/workflows/molecule.yml'
jobs:
  molecule:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        avd_scenario:
          - dhcp_management_mac
          - dhcp_management_offline
          - dhcp_system_mac
          - cv_configlet_loose
          - cv_configlet_strict
          - cv_device
    steps:
      - name: 'set environment variables'
        run: |
          echo "PY_COLORS=1" >> $GITHUB_ENV
          echo "ANSIBLE_FORCE_COLOR=1" >> $GITHUB_ENV

      - uses: actions/checkout@v2

      - name: Run molecule action
        uses: arista-netdevops-community/action-molecule-avd@v1.0
        with:
          molecule_parentdir: 'ansible_collections/arista/cvp'
          molecule_command: 'test'
          molecule_args: '--scenario-name ${{ matrix.avd_scenario }}'
          pip_file: ansible_collections/arista/cvp/requirements.txt
          ansible: "ansible==2.9.6"
          check_git: true
          check_git_enforced: false
